.app {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
  min-width: 360px;
  font-family: "sans-serif";
  min-height: 100vh;
}

.header {
  text-align: center;
}

.header > h1 {
  font-size: 45px;
}

.section {
  padding: 0px 30px;
  flex: 1;
}

.section > h3 {
  font-size: 30px;
}

.footer {
  padding: 10px 30px;
  display: block;
  background-color: gray;
  color: white;
  margin-top: 20px;
  font-weight: 700;
}

.footer > span {
  display: inline-block;
}
